<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.dropdevelopers.com.moviebuff">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme_NO_ACTION">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".main_activity.Main_Screen"
            android:label="@string/title_activity_main__screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".main_activity.VideoDetailView" />
        <activity android:name=".downloadManeger.FileManager" />
        <activity
            android:name=".MusicPlayer.MusicPlayer"
            android:theme="@style/AppTheme_NO_ACTION" />

        <service
            android:name=".downloadManeger.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:process=":process1" />

        <service
            android:name=".service.VideoCut"
            android:enabled="true"
            android:exported="true"
            android:process=":process" />
        <activity android:name=".statusMaker.StatusMaker"></activity>
    </application>

</manifest>